<center>
    <h1> Privacy and Blockchain </h1>
</center>
<div id="sawtoothPrivacyPage">

    <!-- form start-->
    <form id="readform">
        <div id="divform">
            <center><label
                    style="color:#00509e ;text-align:center; font-family:'Open Sans', sans-serif;font-weight: normal; font-size: 25px;">Hyperledger
                    Sawtooth</label>
                <br />
                <p style=" font-size: 18px; color :#00509e"> Write and read to the Blockchain</p>
                <label for="fname">Input data: </label> 
                <input type="text" class="form-control" id="textInput" placeholder=" Input text">
                <br /> <br />
                <button type="submit" style="color:red; align:center;" class="btn btn-lg" onclick="writemsg(event)">
                    Write</button>
                <br /> <br />
                <label for="fname">Output data:</label> 
                <input type="text" class="form-control" id="textOutput" placeholder=" Output text" readonly>
                <br /> <br />
                <button type="submit" style="color: green;  align:center;" class="btn btn-lg" onclick="readmsg(event)">
                    Read</button>
                <br /> <br />
                <button type="submit" style="color: green;  align:center;" class="btn btn-lg" onclick="readdb(event)">
                    Console log DB</button>

                <!--
                <p style=" font-size: 18px; color :#00509e"> Write && Read to the Database</p>
                <label for="fname">Input data: </label> 
                <input type="text" class="form-control" id="textInputDB" placeholder=" Input text">
                <br /> <br />
                <button type="submit" style="color:red; align:center;" class="btn btn-lg" onclick="writemsg(event)">
                    Write</button>
                <br /> <br />
                <label for="fname">Output data:</label> 
                <input type="text" class="form-control" id="textOutputDB" placeholder=" Output text" readonly>
                <br /> <br />
                <button type="submit" style="color: green;  align:center;" class="btn btn-lg" onclick="readmsg(event)">
                    Read</button>
                -->

                <br /><br /><br /><br /><br /><br />
                <img src="/images/logo_ntnu.png" width="400" height="auto">

            </center>
        </div>
    </form>
    <!-- form end-->
</div>